<!DOCTYPE html>
<html>
<head>
    <title>Email Content</title>
    <link rel='stylesheet' href='style.css' data-inline>
</head>
<body>
    <!-- Email Content -->
    <p>Hello, <%= username %>, this is a test email.</p>
    
    <!-- You can include more HTML content here -->
</body>
</html>
