<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image Upload</title>
  </head>
  <body>
    <h1>Image Upload</h1>
    <form
      action="/api/v1/profile/<%= userId %>/uploadDB"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="profile" accept="image/*" required />
      <button type="submit">Upload Image</button>
    </form>
  </body>
</html>
