<!doctype html>
<html>
  <head>
    <title>Listening to Album</title>

    <script type="module" src="listeningAlbum.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Listening to Album</h1>

    <button id="playButton">Play</button>

    <button id="pauseButton">Pause</button>
  </body>
</html>
