<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Notifications</title>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Order Notifications</h1>
    <div id="notification-container"></div>
    <script src="/orderNotifications.js" type="module"></script>
    
  </body>
</html>
