body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  width: 80%;
  margin: 20px auto;
}

#priceEditForm {
  text-align: center;
  margin-top: 20px;
}

#priceEditForm label {
  font-weight: bold;
  display: block;
  margin-bottom: 10px;
}

#newPrice {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 10px;
}

#updatePriceBtn {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#updatePriceBtn:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

#messageContainer {
  text-align: center;
  margin-top: 20px;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

input[type='checkbox'] {
  transform: scale(1.5);
}

/*Tests*/
.body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.body {
  background-color: #f5f5f5;
  color: #333;
  font-family: Arial, sans-serif;
  margin: 20px;
}

nav ul {
  background-color: #333;
  padding: 10px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

h2 {
  color: #3a8bbb;
  border-bottom: 2px solid #333;
  margin: 20px;
}

h3 {
  color: #444;
  margin-top: 20px;
}

pre {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: monospace;
  color: #333;
}
